body {
  height: 100vh;
  background: url(../images/back.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;

}

h1 {
  text-align: center;
  color: #ffffff;
  font-size: 36px;
}

.card {
  width: 450px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  color: white;
  overflow: hidden;
  padding: 8px 15px;
  border-radius: 15px;

}



.card .input-box {
  width: 100%;


  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;

  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  padding: 5px 0px;
  color: #ffffff;

}

/* .input-box input:focus {
  transform: scale(1);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  padding: 10px 0px 10px 10px;


} */

.input-box input::placeholder {
  color: #ffffff;
}

.input-box h4 {
  padding-bottom: 0;
  margin-bottom: 0;
  padding: 5px 0px;

}

.card a {
  text-decoration: none;
  color: black;
}

.card a:hover {
  text-decoration: underline;
  transition: 1.5s ease;
  text-transform: uppercase;
  color: aqua;

}

#passwor,
#pass {
  position: relative;
}

#showw {
  position: absolute;
  cursor: pointer;
  top: 60% !important;
  right: 3%;
}

#showw :hover {
  color: aqua;
}



#show {
  position: absolute;
  cursor: pointer;
  top: 40%;
  right: 3%;
}

#showwe :hover {
  color: aqua;
}

.card .btn,
#mo {
  width: 100% !important;
  height: 45px !important;
  background: #1146f5 !important;
  border: none !important;
  outline: none !important;
  border-radius: 10px !important;
  cursor: pointer !important;
  text-decoration: none !important;

  color: #ffffff !important;
  font-weight: 700 !important;
}


.card p {
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px;
}

p a {
  color: rgb(49, 255, 49) !important;
  text-decoration: none;
  font-weight: 700;
  margin-left: 5px;
}

.error {
  color: #f70000;
  font-weight: 700;
}

@media (max-width:567px) {
  body{
    height: 100vh;
  }
  .card {

    width: 300px !important;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    color: white;
    overflow: hidden;
    padding: 8px 15px;
    border-radius: 15px;

  }

  #showwe {
    top: 39%;
    right: 6%;
  }

  #showw {
    right: 5%;
    top: 60%;
  }

  h1 {
    font-size: 28px;
  }
}